h1{text-align:center;}
p.up{text-align:left;}
label.boxes{text-align:right;color:#33CCFF;}
p.right{text-align:center;}
p.left{text-align:center;}
i.orange{float: left;}
i.apple{float: right;}
B{color:#33CCFF;}
label.signupboxes{text-align:right;color:#33CCFF;}
h1.signup{font-family:cursive;color:FF3300;}
