

<div class="center hero-unit">
  <h1>iHava</h1>

  <p class="lead">Get started viewing and sharing collections of awesome stuff today!</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <h2>
    <div id="myCarousel" class="carousel slide"><!-- class of slide for animation -->
                <div class="carousel-inner">
                  <div class="item"><!-- class of active since it's the first item -->
                    <div class="inner-item">
                    <img src="http://25.media.tumblr.com/tumblr_m0de6kunMH1qaugiso1_1280.jpg" alt="">
                    </div>
                  </div>
                  <div class="item">
                    <div class="inner-item">
                      <img src="http://i.imgur.com/J5gR7cm.jpg" alt="">
                    </div>
                  </div>
                  <div class="item">
                    <div class="inner-item">
                      <img src="http://i.imgur.com/rxAg8n5.jpg" alt="">
                    </div>
                  </div>
                  <div class="item">
                    <div class="inner-item">
                      <img src="http://i.imgur.com/4E6yKYI.jpg" alt="">
                    </div>
                  </div>
                  <div class="item">
                    <div class="inner-item">
                      <img src="http://i.imgur.com/QIc9x.jpg" alt="">
                    </div>
                  </div>
                  <div class="item active">
                    <div class="inner-item">
                      <img src="http://i.imgur.com/ipTlAVnh.jpg" alt="">
                    </div>
                  </div>
                </div><!-- /.carousel-inner -->
              </div>
  </h2>
    <hr>
    <footer style="text-align: center;">
      <a href="" alt="">Contact</a> |
      <a href="" alt="">Credits</a>
    </footer>

    <script>
</div>

<script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
