<footer class="footer">
  <small>
    <p>Built By:</p>
  </small>
  <nav>
    <ul class ="inline">
      <li>Nathaniel Elkins</li>
      <li>Peter Kremer</li>
      <li>Jeremy Meguira</li>
      <li>Bryan Ngadamin</li>
    </ul>
  </nav>
</footer>