<footer class="footer">
  <div style="text-align:center">
  <small>
    Built By:
  </small>
  <nav>
    <ul class ="inline">
      <li>Nathaniel Elkins</li>
      <li>Peter Kremer</li>
      <li>Jeremy Meguira</li>
      <li>Bryan Ngadamin</li>
    </ul>
  </nav>
</div>
</footer>