<footer class="footer">
<<<<<<< HEAD
=======
  <small>
    <p>Built By:</p>
  </small>
>>>>>>> 4fd115e0ed0a92c4cf009dfdb216dec165fa7cff
  <nav>
    <ul>
      <li>Nathaniel Elkins</li>
      <li>Peter Kremer</li>
      <li>Jeremy Meguira</li>
      <li>Bryan Ngadamin</li>
    </ul>
  </nav>
</footer>